$img-path: "../source/bg_mainlogo.png";
body {
  margin: 0px;
  font-family: "Comfortaa", cursive;
  background-color: black;
}
#root {
  background-image: url($img-path);
  background-size: cover;
  height: 100%;
}
.main_button {
  justify-content: center;
  text-align: center;
}
.wraper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}
main {
  padding: 200px 0px;
}
.wraper_main {
  position: relative;
}
.main_tag {
  color: #ffffff59;
  font-size: 50px;
  margin-bottom: 100px;
  font-family: 'Roboto Mono', monospace;
  user-select: none
}
.main_tag:hover {
  color: #ffffffb0;
  transition: 0.3s;
  cursor:default;
}
.main_button a {
  color: black;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.8117647059);
  font-size: 20px;
  font-weight: 600;
  border-bottom: 5px solid black;
  cursor: pointer;
}
.main_button a:hover {
background-color: black;
border-bottom: 5px solid white;
color: white;
transition: 0.3s ease;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 800px;
}
