.login_form {
    color: white;
    background-color: #0000007d;
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
}

.login_form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login_form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
}

.login_form button {
    width: 100%;
    color: black;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-family: cursive;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s all ease;
}
.login_form button:hover {
    background-color: rgb(88, 88, 88);
}

.error_message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
