@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "prod-globalstyle.scss";
@import "preloaderstyle.scss";
@import "prod-headerstyle.scss";

%flexcenter {
  display: flex;
  justify-content: center;
}

/* //Меин контент */
.card_container {
  margin: 25px 0px;
}
.card_hover {
  box-shadow: none;
  border-radius: 10px;
  margin: 5px;
  transition: 0.3s;
}
.card_hover:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.521);
  background-color: rgba(255, 255, 255, 0.521);
}
.card {
  border-radius: 2px;
  cursor: pointer;
  padding: 30px;
  background-color: rgb(167 167 167 / 86%);
}
.price {
  font-size: 20px;
  font-family: sans-serif;
  padding: 0px 15px;
  margin: 10px 0px;
}
.info_container {
  background-color: white;
  margin: 5px;
  margin-top: 10px;
  border-bottom: 5px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img_card img {
  width: 330px;
  height: 332px;
}
.container h1 {
  display: flex;
  justify-content: center;
}
.price_container {
  display: flex;
  flex-direction: row;
}
.line {
  width: 260px;
  border-top: 1px solid black;
}
.margin_left {
  margin-left: 10px;
}
.card_name {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  padding: 15px;
  padding-bottom: 5px;
}
.cart_icon {
  width: 20px;
  padding: 10px 10px 10px;
  background-color: #949494bd;
  margin-right: 15px;
  transition: 0.5s ease;
  cursor: pointer;
}
.cart_icon:hover {
  background-color: #686868ec;
}

.flex_direction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
// подключаем футер
@import "prod-footerstyle.scss";

//info-content
.info_text {
  @extend %flexcenter;
  font-size: 25px;
  padding: 20px;
  line-height: 50px;
}
.info_text_mini {
  font-size: 15px;
  padding: 50px;
}
.info_text_mini div {
  margin: 20px;
  line-height: 30px;
}
.bold {
  font-size: 25px;
}
