@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "prod-globalstyle.scss";
@import "preloaderstyle.scss";
@import "prod-headerstyle.scss";

%flexcenter {
  display: flex;
  justify-content: center;
}

/* //Меин контент */
.card_hover {
  box-shadow: none;
  border-radius: 10px;
  margin: 15px;
}
.card_hover:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.521);
  background-color: rgba(255, 255, 255, 0.521);
  transition: 0.3s;
}
.card {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  background-color: #efefefba;
}
.price {
  background-color: #fff;
  display: block;
  font-size: 25px;
  padding-bottom: 5px;
  font-family: "Exo 2", sans-serif;
}
.img_card img {
  width: 330px;
  height: 332px;
}
.container h1 {
  display: flex;
  justify-content: center;
}
.left_side {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px 0px 0px;
}
.right_side {
  padding: 10px;
  background-color: #fff;
  border-radius: 0% 0% 50% 0%;
}
.price_container {
  display: flex;
  flex-direction: row;
}
.card_name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
}

.flex_direction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
// подключаем футер
@import "prod-footerstyle.scss";

//info-content
.info_text {
  @extend %flexcenter;
  font-size: 25px;
  padding: 20px;
  line-height: 50px;
}
.info_text_mini {
  font-size: 15px;
  padding: 50px;
}
.info_text_mini div {
  margin: 20px;
  line-height: 30px;
}
.bold {
  font-size: 25px;
}
